<div class="navbar-lewagon navbar-collapse d-flex">
  <div>
    <%= link_to root_path do %>
      <%= image_tag "food.jpg", style: "height: 30px; width: 30px", alt: "alttext", class: "logo" %>
    <% end %>
  </div>
  <div class="link-navbar">
    <%= link_to " Toutes mes listes ", root_path, class: "button-navbar"%>
    <%= link_to " Créer nouvelle liste ", new_list_path, class: "button-navbar"%>
  </div>
</div>
